*/ Extra.css for use with Indivdual Named Styles */

/* Re-Usable Styles */

/* Remove Text Decoration */
.notextdecoration {
	text-decoration: none;
}
/* End Remove Text Decoration */

/* Main Content Control */
/* Article style that is center in the page and is the MAIN CONTROL */
.maincntctl {
	font-family: "Chomsky", arial, san-serif;
	font-size: 16px;
	color: #ffffff;
	background: #000000;
	margin-left: 20%;
	width: 64%;
	position: relative;
	border: 2px solid #ffffff;
}
/* End Main Content Control */

/* Secondary Content Control */
/* Must remain synced witht the margin-left and width properties of the main content control */
.seccntctl {
	font-family: "Chomsky", arial, san-serif;
	font-size: 14px;
	color: #ffffff;
	background: #000000;
	margin-left: 20%;
	width: 64%;
	position: relative;
	border: 2px solid #ffffff;
}
/* End Secondary Content Control */

/* End Re-Usable Styles */

/* Begin Page Specific Styles */
/* I.E. Non-Reusable Stuff */

/* About the Author Page */

/* Amerogoth Image */
.imgstyle_about_amerogoth {
	margin-left: 34%;
	position: relative;
	border: 2px solid #ffffff;
}
/* End Amerogoth Image */

/* Image Styles for Certification Badges */
/* A Plus Cerification */
.imgstyle_about_a_plus_certified {
	margin-left: 40%;
	position: relative;
	width: 150px;
	height: 150px;
}
/* End A Plus Certification */

/* Security Plus Certification */
.imgstyle_about_security_plus_certified {
	width: 150px;
	height: 150px;
}
/* End Security Plus Certification */
/* End Certification Badges Style */

/* End About the Author Page */

/* End Page Specific Styles */