/* Global Style Sheet
for application of global styles, for indivdual styles see extra.css */

/* Import the Global Accent Font mb-evilghost */
@font-face {
	font-family: 'mb-evilghost';
	src: url('https://blackwall72.github.io/style/MB-EvilGhost_Font.ttf');
}
/* End Global Font mb-evilghost  */
/* Global Body Font Chomsky */
@font-face {
	font-family: 'Chomsky';
	src: url('https://blackwall72.github.io/style/Chomsky.otf');
}
/* End  Global Body Font Chomsky */

/* Set Global Body Style */
body {
	font-family: "Chomsky", arial, san-serif;
	background: url("https://blackwall72.github.io/style/skull.png") no-repeat fixed center ;
	color: #F10F0F;
}
/* End Global Body */

/* Set Global Header (h1)  Style */
h1 {
	font-family: "mb-evilghost", arial, san-serif;
	font-weight: normal;
	font-style: normal;
	text-decoration: none;
	position: relative;
}

/* End Global Header (h1) Style */

/* Global Navigation Controls Style */
.navi {
	list-style-type: none;
	margin-left: 37%;
	overflow: hidden;
	background: #000000 url("https://blackwall72.github.io/style/Bat.PNG") repeat 0 0;
	width: 29%;
	position: relative;
	border: 2px solid #F10F0F;
}
	
 /* Required for Navigation to align properly */	
.navi-item {
	float: left;
}
/* End of requird align */

.navi-a {
	display: block;
	color: #F10F0F;
	background: #000000 url("https://blackwall72.github.io/style/Bat.PNG") repeat 0 0;
	text-align: center;
	padding: 16px;
	text-decoration: none;
	font-family: "mb-evilghost", arial, san-serif;
	font-size: 17px;
}
/* End Global Navigation Controls Style */

/* Link Style */
/* Links appear regular, disappear when hovered, and go white when active */
a:link {
	color: #F10F0F;
	text-decoration: none;
}

a:visited {
	color: #FFFFFF;
}

a:hover {
	color: #000000;
	}

a:active {
	color: #FFFFFF;
}

/* End Link Style /*


/* Footer Style */
/* The footer style must remain synced with the main content control and the secondary content control in extra.CSS
	for both the margin-left and the width */
footer {
	font-family: "Chomsky", arial, san-serif;
	font-size: 14px;
	text-align: center;
	color: #F10F0F;
	background: #000000;
	width: 64%;
	margin-left: 20%;
	margin-bottom: 0%;
	position: relative;
	border: 2px solid #F10F0F;
}
/* End Footer Style */