body {
	background: #000000;
	color: #ffffff;
}

h1 {
	font-family: 'mb-evilghostregular';
	font-weight: normal;
	font-style: normal;
}

.navi {
	list-style-type: none;
	margin-left: 40%;
	padding: 0;
	overflow: hidden;
	background-color: #333333;
	width: 29% ;
}
.navi-item {
	float: left;
}

.navi-a {
	display: block;
	color: #ffffff;
	text-align: center;
	padding: 16px;
	text-decoration: none;
}