@font-face {
    font-family: 'mb-evilghostregular';
    src: url('https://BlackWall72.github.io/Style/mb-evilghost_font-webfont.woff2') format('woff2'),
         url('https://BlackWall72.github.io/Style/mb-evilghost_font-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}